SOAP_DOTNET_CONUNI_GR05/02.CLIESC/CLIESC_CONUNI_GR05/CLIESC_CONUNI_GR05/Connected Services/ConversionServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ConversionUnidadesServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConversionUnidadesServicio_PulgadasACentimetros_InputMessage">
    <wsdl:part name="parameters" element="tns:PulgadasACentimetros" />
  </wsdl:message>
  <wsdl:message name="IConversionUnidadesServicio_PulgadasACentimetros_OutputMessage">
    <wsdl:part name="parameters" element="tns:PulgadasACentimetrosResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionUnidadesServicio_CentimetrosAPulgadas_InputMessage">
    <wsdl:part name="parameters" element="tns:CentimetrosAPulgadas" />
  </wsdl:message>
  <wsdl:message name="IConversionUnidadesServicio_CentimetrosAPulgadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:CentimetrosAPulgadasResponse" />
  </wsdl:message>
  <wsdl:portType name="IConversionUnidadesServicio">
    <wsdl:operation name="PulgadasACentimetros">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionUnidadesServicio/PulgadasACentimetros" message="tns:IConversionUnidadesServicio_PulgadasACentimetros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionUnidadesServicio/PulgadasACentimetrosResponse" message="tns:IConversionUnidadesServicio_PulgadasACentimetros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CentimetrosAPulgadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionUnidadesServicio/CentimetrosAPulgadas" message="tns:IConversionUnidadesServicio_CentimetrosAPulgadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionUnidadesServicio/CentimetrosAPulgadasResponse" message="tns:IConversionUnidadesServicio_CentimetrosAPulgadas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConversionUnidadesServicio" type="tns:IConversionUnidadesServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PulgadasACentimetros">
      <soap:operation soapAction="http://tempuri.org/IConversionUnidadesServicio/PulgadasACentimetros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CentimetrosAPulgadas">
      <soap:operation soapAction="http://tempuri.org/IConversionUnidadesServicio/CentimetrosAPulgadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionUnidadesServicio">
    <wsdl:port name="BasicHttpBinding_IConversionUnidadesServicio" binding="tns:BasicHttpBinding_IConversionUnidadesServicio">
      <soap:address location="http://192.168.54.76:8733/Design_Time_Addresses/CONUNIL_GR05/ConversionUnidadesServicio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>